<header class="header">
  <a href="/" class="header__logo">NodeJS</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <ul>
          <li>
            <a href="/contact">Home</a>
          </li>
        </ul>
  </nav>

  <div class="header__button">
    <button class="searchBtn" aria-expanded="false">
      Search
    </button>
  </div>

</header>