#fruitsList li {
	background-color: #0dcaf0;
}

#combinedList li {
	background-color: #0d6efd;
}

#legumesList li {
	background-color: #ffc107;
}

li.li-selected {
	background-color: red !important;
}
