/* 
 */
:root {
	--text: #071c11;
	--background: #ffffff;
	--primary: #59d4d2;
	--secondary: #aecdea;
	--accent: #2a68a2;
}

body {
	color: #071c11;
	background-color: #ffffff;
	border: #aecdea;
}

.header-tile {
	background-color: #aecdea;
}

.container {
	background-color: #59d4d2;
}

hr {
	height: 1px;
	background-color: #071c11;
	border: #071c11;
}
